<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-9">
        <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">{{ job.title }}</h4>
        <div>
            <b>Location:</b> {{ job.location }}
        </div>
        {% if job.salary != null %}
        <div>
            <b>Salary: </b>{{ job.currency }}{{ job.salary }}.00
        </div>
        {% endif %}
    </div>
    <div class="col-3">
        <a href="mailto:evanskofiagyei06@gmail.com?subject=Application%20for%20{{ job.title }}&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Resume%3A%20%3Cresume%20link%3E%0D%0A%0D%0AMy%20LinkedIn%20link%3A%20%3CLinkedIn%3E" class="btn btn-outline-primary">Apply</a>
    </div>
</div>